ArmBackup
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Create_job": {
                        "inputs": {
                            "body": {
                                "properties": {
                                    "parameters": {
                                        "ResourceGroup": null,
                                        "person": null,
                                        "resourceId": "@items('For_each')?['id']"
                                    }
                                }
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                }
                            },
                            "method": "put",
                            "path": "/subscriptions/@{encodeURIComponent('6e617337-ad3a-4755-a4f0-b792244c8703')}/resourceGroups/@{encodeURIComponent('RGauto')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('AutoManage')}/jobs",
                            "queries": {
                                "runbookName": "Get-Armbackup",
                                "wait": false,
                                "x-ms-api-version": "2015-10-31"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('List_resources_by_subscription')?['value']",
                "runAfter": {
                    "List_resources_by_subscription": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "List_resources_by_subscription": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['arm']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/subscriptions/@{encodeURIComponent('6e617337-ad3a-4755-a4f0-b792244c8703')}/resources",
                    "queries": {
                        "x-ms-api-version": "2016-06-01"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "weekDays": [
                            "Saturday"
                        ]
                    },
                    "startTime": "2020-04-25T05:00:00Z",
                    "timeZone": "UTC"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "arm": {
                    "connectionId": "",
                    "connectionName": "arm",
                    "id": ""
                },
                "azureautomation": {
                    "connectionId": "",
                    "connectionName": "azureautomation",
                    "id": ""
                }
            }
        }
    }
}
