LogicApps/ResourceMonitor
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_Write_changes": {
                "actions": {
                    "Append_to_Report": {
                        "inputs": {
                            "name": "Report",
                            "value": "\"Operation Name\": \"@{triggerBody()['data']['operationName']}]\",\n\"Person\": \"@{triggerBody()['data']['claims']['name']}\",\n\"Resource\": \"@{triggerBody()['data']['resourceURI']}\",\n\"Resourse Provider\": \"@{triggerBody()['data']['resourceProvider']}\""
                        },
                        "runAfter": {},
                        "type": "AppendToArrayVariable"
                    },
                    "Create_job": {
                        "inputs": {
                            "body": {
                                "properties": {
                                    "parameters": {
                                        "person": "@triggerBody()['data']['claims']['name']",
                                        "resourceId": "@triggerBody()['data']['resourceURI']"
                                    }
                                }
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                }
                            },
                            "method": "put",
                            "path": "/subscriptions/@{encodeURIComponent('')}/resourceGroups/@{encodeURIComponent('RGauto')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('AutoManage')}/jobs",
                            "queries": {
                                "runbookName": "Get-Armbackup",
                                "wait": false,
                                "x-ms-api-version": "2015-10-31"
                            }
                        },
                        "runAfter": {
                            "Append_to_Report": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Teams_anouncement": {
                        "inputs": {
                            "body": {
                                "Title": "Resource changes",
                                "text": "@{variables('Report')}"
                            },
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "method": "POST",
                            "uri": "https://outlook.office.com/webhook/"
                        },
                        "runAfter": {
                            "Append_to_Report": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()['data']['operationName']",
                                "Microsoft.Compute/virtualMachines/write"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Report": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_Report": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Report",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_resource_event_occurs": {
                "inputs": {
                    "body": {
                        "properties": {
                            "destination": {
                                "endpointType": "webhook",
                                "properties": {
                                    "endpointUrl": "@{listCallbackUrl()}"
                                }
                            },
                            "topic": ""
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('')}/providers/@{encodeURIComponent('Microsoft.Resources.Subscriptions')}/resource/eventSubscriptions",
                    "queries": {
                        "x-ms-api-version": "2017-09-15-preview"
                    }
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureautomation": {
                    "connectionId": "",
                    "connectionName": "azureautomation",
                    "id": ""
                },
                "azureeventgrid": {
                    "connectionId": "",
                    "connectionName": "azureeventgrid",
                    "id": ""
                }
            }
        }
    }
}
